[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=My Computer
Comment=My Computer
Categories=Application;
Exec=thunar computer:///
Icon=computer
Terminal=false
StartupNotify=false
Path=
